.features {
  padding: 20px;
}
.features h3 {
  text-align: center;
  margin-bottom: 20px;
}


.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product-card {
  width: 250px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.product-card h4 {
  margin: 10px 0 5px;
}

.product-card p {
  margin: 5px 0;
  color: #555;
}

.price {
  font-size: 16px;
  margin: 10px 0;
}

.original-price {
  text-decoration: line-through;
  color: #999;
  margin-right: 10px;
}

.discounted-price {
  color: red;
  font-weight: bold;
}

.product-card .savings {
  color: green;
  font-weight: bold;
}

