
.feature-slider {
  position: relative;
  width: 50%; /* Full-width slider */
  height: 220px; /* Set height for images */
  overflow: hidden;
  margin: 20px auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.slider-track {
  display: flex;
  gap: 20px; /* Add sufficient space between items */
  transition: transform 0.5s ease-in-out;
}

.feature-slide {
  flex: 0 0 200px; /* Set fixed width for each image */
  height: 200px;
}

.feature-image-slide {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
