/* ClientNavbar.css */

.clientnavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

.clientnavbar .hamburger {
  font-size: 30px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.clientnavbar-links {
  display: flex;
  gap: 15px;
}

.clientnavbar-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  position: relative;
}

.cart-link {
  position: relative;
}

.cart-icon {
  font-size: 24px;
}

.cart-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 14px;
  font-weight: bold;
}

/* ProfileIcon.css */
.profile-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4caf50; /* Green background color */
  color: white;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  user-select: none; /* Prevent text selection */
}

.profile-icon:hover {
  background-color: #388e3c; /* Darker green on hover */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

