/* src/styles/Sidebar.css */
.sidebar {
    width: 250px;
    background-color: #1f2937;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding-top: 1em;
  }
  
  .sidebar a {
    padding: 15px 20px;
    color: #cbd5e0;
    text-decoration: none;
    display: block;
  }
  
  .sidebar a.active {
    background-color: #4a5568;
    color: #fff;
  }
  